<style>
.containerHome .divItem {
	margin-bottom: 10px;
}
.containerHome .divItemContainer {
		background: #EEE;
		border: 1px solid #CCC ;
		padding: 10px 10px 0px 10px
	}
.containerHome .divItemHead h4 {
		margin-top: 0px;
	}
.containerHome .divItemFooter a, .containerHome .divItemFooter button {
		font-size: 10px;
}
</style>
<div class="containerHome">
	<div class="row">
	  <div class="col-xs-6 col-md-3 divItem">
	  	<div class="divItemContainer"> 
		  	<div class="divItemHead">
		  		<h4><a href="#" style="">a title?</a></h4>
		  	</div>
		  	<div >
		  		asdddddddddddddddddddd<br>dasdasd
		  		asd<br>dasd
		  	</div>
		  	<div class="divItemFooter" style="padding:10px 0px 5px 0px">
		  		<a href="{{link}}" target="_blank" class="btn btn-default glyphicon glyphicon-share" aria-hidden="true" ></a>
					<button class="btn btn-default glyphicon glyphicon-pencil btnEditBookmark" aria-hidden="true" ></button>
					<button class="btn btn-default glyphicon glyphicon-remove btnRemoveBookmark" aria-hidden="true" ></button>
		  	</div>
	  	</div>
	  </div>
	  <div class="col-xs-6 col-md-3 divItem">
	  	<div class="divItemContainer"> 
		  	<div class="divItemHead">
		  		<h4><a href="#" style="">a title?</a></h4>
		  	</div>
		  	<div >
		  		asdddddddddddddddddddd<br>dasdasd
		  		asd<br>dasd
		  	</div>
		  	<div class="divItemFooter" style="padding:10px 0px 5px 0px">
		  		<a href="{{link}}" target="_blank" class="btn btn-default glyphicon glyphicon-share" aria-hidden="true" ></a>
					<button class="btn btn-default glyphicon glyphicon-pencil btnEditBookmark" aria-hidden="true" ></button>
					<button class="btn btn-default glyphicon glyphicon-remove btnRemoveBookmark" aria-hidden="true" ></button>
		  	</div>
	  	</div>
	  </div><div class="col-xs-6 col-md-3 divItem">
	  	<div class="divItemContainer"> 
		  	<div class="divItemHead">
		  		<h4><a href="#" style="">a title?</a></h4>
		  	</div>
		  	<div >
		  		asdddddddddddddddddddd<br>dasdasd
		  		asd<br>dasd
		  	</div>
		  	<div class="divItemFooter" style="padding:10px 0px 5px 0px">
		  		<a href="{{link}}" target="_blank" class="btn btn-default glyphicon glyphicon-share" aria-hidden="true" ></a>
					<button class="btn btn-default glyphicon glyphicon-pencil btnEditBookmark" aria-hidden="true" ></button>
					<button class="btn btn-default glyphicon glyphicon-remove btnRemoveBookmark" aria-hidden="true" ></button>
		  	</div>
	  	</div>
	  </div><div class="col-xs-6 col-md-3 divItem">
	  	<div class="divItemContainer"> 
		  	<div class="divItemHead">
		  		<h4><a href="#" style="">a title?</a></h4>
		  	</div>
		  	<div >
		  		asdddddddddddddddddddd<br>dasdasd
		  		asd<br>dasd
		  	</div>
		  	<div class="divItemFooter" style="padding:10px 0px 5px 0px">
		  		<a href="{{link}}" target="_blank" class="btn btn-default glyphicon glyphicon-share" aria-hidden="true" ></a>
					<button class="btn btn-default glyphicon glyphicon-pencil btnEditBookmark" aria-hidden="true" ></button>
					<button class="btn btn-default glyphicon glyphicon-remove btnRemoveBookmark" aria-hidden="true" ></button>
		  	</div>
	  	</div>
	  </div><div class="col-xs-6 col-md-3 divItem">
	  	<div class="divItemContainer"> 
		  	<div class="divItemHead">
		  		<h4><a href="#" style="">a title?</a></h4>
		  	</div>
		  	<div >
		  		asdddddddddddddddddddd<br>dasdasd
		  		asd<br>dasd
		  	</div>
		  	<div class="divItemFooter" style="padding:10px 0px 5px 0px">
		  		<a href="{{link}}" target="_blank" class="btn btn-default glyphicon glyphicon-share" aria-hidden="true" ></a>
					<button class="btn btn-default glyphicon glyphicon-pencil btnEditBookmark" aria-hidden="true" ></button>
					<button class="btn btn-default glyphicon glyphicon-remove btnRemoveBookmark" aria-hidden="true" ></button>
		  	</div>
	  	</div>
	  </div><div class="col-xs-6 col-md-3 divItem">
	  	<div class="divItemContainer"> 
		  	<div class="divItemHead">
		  		<h4><a href="#" style="">a title?</a></h4>
		  	</div>
		  	<div >
		  		asdddddddddddddddddddd<br>dasdasd
		  		asd<br>dasd
		  	</div>
		  	<div class="divItemFooter" style="padding:10px 0px 5px 0px">
		  		<a href="{{link}}" target="_blank" class="btn btn-default glyphicon glyphicon-share" aria-hidden="true" ></a>
					<button class="btn btn-default glyphicon glyphicon-pencil btnEditBookmark" aria-hidden="true" ></button>
					<button class="btn btn-default glyphicon glyphicon-remove btnRemoveBookmark" aria-hidden="true" ></button>
		  	</div>
	  	</div>
	  </div><div class="col-xs-6 col-md-3 divItem">
	  	<div class="divItemContainer"> 
		  	<div class="divItemHead">
		  		<h4><a href="#" style="">a title?</a></h4>
		  	</div>
		  	<div >
		  		asdddddddddddddddddddd<br>dasdasd
		  		asd<br>dasd
		  	</div>
		  	<div class="divItemFooter" style="padding:10px 0px 5px 0px">
		  		<a href="{{link}}" target="_blank" class="btn btn-default glyphicon glyphicon-share" aria-hidden="true" ></a>
					<button class="btn btn-default glyphicon glyphicon-pencil btnEditBookmark" aria-hidden="true" ></button>
					<button class="btn btn-default glyphicon glyphicon-remove btnRemoveBookmark" aria-hidden="true" ></button>
		  	</div>
	  	</div>
	  </div><div class="col-xs-6 col-md-3 divItem">
	  	<div class="divItemContainer"> 
		  	<div class="divItemHead">
		  		<h4><a href="#" style="">a title?</a></h4>
		  	</div>
		  	<div >
		  		asdddddddddddddddddddd<br>dasdasd
		  		asd<br>dasd
		  	</div>
		  	<div class="divItemFooter" style="padding:10px 0px 5px 0px">
		  		<a href="{{link}}" target="_blank" class="btn btn-default glyphicon glyphicon-share" aria-hidden="true" ></a>
					<button class="btn btn-default glyphicon glyphicon-pencil btnEditBookmark" aria-hidden="true" ></button>
					<button class="btn btn-default glyphicon glyphicon-remove btnRemoveBookmark" aria-hidden="true" ></button>
		  	</div>
	  	</div>
	  </div><div class="col-xs-6 col-md-3 divItem">
	  	<div class="divItemContainer"> 
		  	<div class="divItemHead">
		  		<h4><a href="#" style="">a title?</a></h4>
		  	</div>
		  	<div >
		  		asdddddddddddddddddddd<br>dasdasd
		  		asd<br>dasd
		  	</div>
		  	<div class="divItemFooter" style="padding:10px 0px 5px 0px">
		  		<a href="{{link}}" target="_blank" class="btn btn-default glyphicon glyphicon-share" aria-hidden="true" ></a>
					<button class="btn btn-default glyphicon glyphicon-pencil btnEditBookmark" aria-hidden="true" ></button>
					<button class="btn btn-default glyphicon glyphicon-remove btnRemoveBookmark" aria-hidden="true" ></button>
		  	</div>
	  	</div>
	  </div><div class="col-xs-6 col-md-3 divItem">
	  	<div class="divItemContainer"> 
		  	<div class="divItemHead">
		  		<h4><a href="#" style="">a title?</a></h4>
		  	</div>
		  	<div >
		  		asdddddddddddddddddddd<br>dasdasd
		  		asd<br>dasd
		  	</div>
		  	<div class="divItemFooter" style="padding:10px 0px 5px 0px">
		  		<a href="{{link}}" target="_blank" class="btn btn-default glyphicon glyphicon-share" aria-hidden="true" ></a>
					<button class="btn btn-default glyphicon glyphicon-pencil btnEditBookmark" aria-hidden="true" ></button>
					<button class="btn btn-default glyphicon glyphicon-remove btnRemoveBookmark" aria-hidden="true" ></button>
		  	</div>
	  	</div>
	  </div><div class="col-xs-6 col-md-3 divItem">
	  	<div class="divItemContainer"> 
		  	<div class="divItemHead">
		  		<h4><a href="#" style="">a title?</a></h4>
		  	</div>
		  	<div >
		  		asdddddddddddddddddddd<br>dasdasd
		  		asd<br>dasd
		  	</div>
		  	<div class="divItemFooter" style="padding:10px 0px 5px 0px">
		  		<a href="{{link}}" target="_blank" class="btn btn-default glyphicon glyphicon-share" aria-hidden="true" ></a>
					<button class="btn btn-default glyphicon glyphicon-pencil btnEditBookmark" aria-hidden="true" ></button>
					<button class="btn btn-default glyphicon glyphicon-remove btnRemoveBookmark" aria-hidden="true" ></button>
		  	</div>
	  	</div>
	  </div><div class="col-xs-6 col-md-3 divItem">
	  	<div class="divItemContainer"> 
		  	<div class="divItemHead">
		  		<h4><a href="#" style="">a title?</a></h4>
		  	</div>
		  	<div >
		  		asdddddddddddddddddddd<br>dasdasd
		  		asd<br>dasd
		  	</div>
		  	<div class="divItemFooter" style="padding:10px 0px 5px 0px">
		  		<a href="{{link}}" target="_blank" class="btn btn-default glyphicon glyphicon-share" aria-hidden="true" ></a>
					<button class="btn btn-default glyphicon glyphicon-pencil btnEditBookmark" aria-hidden="true" ></button>
					<button class="btn btn-default glyphicon glyphicon-remove btnRemoveBookmark" aria-hidden="true" ></button>
		  	</div>
	  	</div>
	  </div><div class="col-xs-6 col-md-3 divItem">
	  	<div class="divItemContainer"> 
		  	<div class="divItemHead">
		  		<h4><a href="#" style="">a title?</a></h4>
		  	</div>
		  	<div >
		  		asdddddddddddddddddddd<br>dasdasd
		  		asd<br>dasd
		  	</div>
		  	<div class="divItemFooter" style="padding:10px 0px 5px 0px">
		  		<a href="{{link}}" target="_blank" class="btn btn-default glyphicon glyphicon-share" aria-hidden="true" ></a>
					<button class="btn btn-default glyphicon glyphicon-pencil btnEditBookmark" aria-hidden="true" ></button>
					<button class="btn btn-default glyphicon glyphicon-remove btnRemoveBookmark" aria-hidden="true" ></button>
		  	</div>
	  	</div>
	  </div><div class="col-xs-6 col-md-3 divItem">
	  	<div class="divItemContainer"> 
		  	<div class="divItemHead">
		  		<h4><a href="#" style="">a title?</a></h4>
		  	</div>
		  	<div >
		  		asdddddddddddddddddddd<br>dasdasd
		  		asd<br>dasd
		  	</div>
		  	<div class="divItemFooter" style="padding:10px 0px 5px 0px">
		  		<a href="{{link}}" target="_blank" class="btn btn-default glyphicon glyphicon-share" aria-hidden="true" ></a>
					<button class="btn btn-default glyphicon glyphicon-pencil btnEditBookmark" aria-hidden="true" ></button>
					<button class="btn btn-default glyphicon glyphicon-remove btnRemoveBookmark" aria-hidden="true" ></button>
		  	</div>
	  	</div>
	  </div><div class="col-xs-6 col-md-3 divItem">
	  	<div class="divItemContainer"> 
		  	<div class="divItemHead">
		  		<h4><a href="#" style="">a title?</a></h4>
		  	</div>
		  	<div >
		  		asdddddddddddddddddddd<br>dasdasd
		  		asd<br>dasd
		  	</div>
		  	<div class="divItemFooter" style="padding:10px 0px 5px 0px">
		  		<a href="{{link}}" target="_blank" class="btn btn-default glyphicon glyphicon-share" aria-hidden="true" ></a>
					<button class="btn btn-default glyphicon glyphicon-pencil btnEditBookmark" aria-hidden="true" ></button>
					<button class="btn btn-default glyphicon glyphicon-remove btnRemoveBookmark" aria-hidden="true" ></button>
		  	</div>
	  	</div>
	  </div><div class="col-xs-6 col-md-3 divItem">
	  	<div class="divItemContainer"> 
		  	<div class="divItemHead">
		  		<h4><a href="#" style="">a title?</a></h4>
		  	</div>
		  	<div >
		  		asdddddddddddddddddddd<br>dasdasd
		  		asd<br>dasd
		  	</div>
		  	<div class="divItemFooter" style="padding:10px 0px 5px 0px">
		  		<a href="{{link}}" target="_blank" class="btn btn-default glyphicon glyphicon-share" aria-hidden="true" ></a>
					<button class="btn btn-default glyphicon glyphicon-pencil btnEditBookmark" aria-hidden="true" ></button>
					<button class="btn btn-default glyphicon glyphicon-remove btnRemoveBookmark" aria-hidden="true" ></button>
		  	</div>
	  	</div>
	  </div><div class="col-xs-6 col-md-3 divItem">
	  	<div class="divItemContainer"> 
		  	<div class="divItemHead">
		  		<h4><a href="#" style="">a title?</a></h4>
		  	</div>
		  	<div >
		  		asdddddddddddddddddddd<br>dasdasd
		  		asd<br>dasd
		  	</div>
		  	<div class="divItemFooter" style="padding:10px 0px 5px 0px">
		  		<a href="{{link}}" target="_blank" class="btn btn-default glyphicon glyphicon-share" aria-hidden="true" ></a>
					<button class="btn btn-default glyphicon glyphicon-pencil btnEditBookmark" aria-hidden="true" ></button>
					<button class="btn btn-default glyphicon glyphicon-remove btnRemoveBookmark" aria-hidden="true" ></button>
		  	</div>
	  	</div>
	  </div><div class="col-xs-6 col-md-3 divItem">
	  	<div class="divItemContainer"> 
		  	<div class="divItemHead">
		  		<h4><a href="#" style="">a title?</a></h4>
		  	</div>
		  	<div >
		  		asdddddddddddddddddddd<br>dasdasd
		  		asd<br>dasd
		  	</div>
		  	<div class="divItemFooter" style="padding:10px 0px 5px 0px">
		  		<a href="{{link}}" target="_blank" class="btn btn-default glyphicon glyphicon-share" aria-hidden="true" ></a>
					<button class="btn btn-default glyphicon glyphicon-pencil btnEditBookmark" aria-hidden="true" ></button>
					<button class="btn btn-default glyphicon glyphicon-remove btnRemoveBookmark" aria-hidden="true" ></button>
		  	</div>
	  	</div>
	  </div>
	</div>
</div>