<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
			th:replace="layout/layout :: layout(headerTitle = ${headerTitle})"
>
<head th:fragment="header-scripts" th:remove="tag">
	<div th:replace="restricted-area/fragment/bookmark-edit :: header-scripts" />
</head>
<div th:fragment="content">
	<div th:replace="restricted-area/fragment/bookmark-edit :: content" />
</div>
<div th:fragment="footer-scripts" th:remove="tag">
	<div th:replace="restricted-area/fragment/bookmark-edit :: footer-scripts" />
</div>
