<!DOCTYPE html>
<html th:replace="layout/layout :: layout(headerTitle = ${headerTitle})" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:fragment="header-scripts">
  <link href="/static/css/bookmarkHome.css" rel="stylesheet" type="text/css"/>
</head>
<div th:fragment="content">
  <div class="containerHome" id="tblBookmark">
    <div class="row" id="tbyBookmark"></div>
  </div>
  <script id="tplBookmark" type="text/template">
    {{#.}}
    <div class="col-xs-6 col-md-3 divItem" data-id="{{id}}">
      <div class="divItemContainer">
        <div class="divItemHead">
          <h4><a href="{{link}}" class="lnkAddress" target="_blank">{{name}}</a></h4>
        </div>
        <div class="divItemBody">{{#preview}}{{/preview}}</div>
        <div class="divItemFooter" style="padding:10px 0px 5px 0px">
          <button class="btn pbtn btn-default glyphicon glyphicon-pencil btnEditBookmark" aria-hidden="true"></button>
          <button class="btn pbtn btn-default glyphicon glyphicon-option-vertical dropdown-toggle"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#" class="btnRemoveBookmark">Delete Bookmark</a></li>
          </ul>
        </div>
      </div>
    </div>
    {{/.}}
  </script>
  <script id="tplTagLateralMenu" type="text/template">
    <li class="aMenuLink"><a href="#">{{name}}</a></li>
  </script>
</div>
<div th:fragment="footer-scripts" th:remove="tag">
  <script src="/static/js/ct/bookmarkHome.js"></script>
</div>
