/logs/
# user folders
/files/binaries

# project configurations
**/.settings/
**/.nbinfo
**/.sailsrc
**/.project
**/.classpath
**/nb-configuration.xml
**/nbactions*.xml
**/dependency-reduced-pom.xml
**/jetty-web.xml
**/desempenho

# log files
*.log

# binary files
*.class
**/bin/
**/target/

# compacted files
*.zip
*.tar.gz
*.tar.xz
*.tar.bz2

node_modules
**.db
/db/
wiki/
.idea/
*.iml
.gradle/
files/libs


## go files
bk-api/pkg

## Build files
build
*.lock

/bk-api/vendor*
