[submodule "bk-api/src/golang.org/x/net"]
	path = bk-api/src/golang.org/x/net
	url  = https://go.googlesource.com/net

[submodule "bk-api/src/github.com/mageddo/go-logging"]
	path = bk-api/src/github.com/mageddo/go-logging
	url  = https://github.com/mageddo/go-logging.git

[submodule "bk-api/src/github.com/mageddo/go-optional"]
	path = bk-api/src/github.com/mageddo/go-optional
	url  = https://github.com/mageddo/go-optional.git

[submodule "bk-api/src/github.com/mattn/go-sqlite3"]
	path = bk-api/src/github.com/mattn/go-sqlite3
	url  = https://github.com/mattn/go-sqlite3.git
