<!DOCTYPE html>
<html
  class="dark-theme" lang="en"
  th:fragment="layout(headerTitle)" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
  <link rel="icon" th:href="@{/static/favicon.ico}" type="image/ico"/>
  <link rel="shortcut icon" th:href="@{/static/favicon.ico}" type="image/x-icon"/>
  <title th:text="${headerTitle} ?: 'Bookmarks'"></title>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <!--STYLES-->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="/static/select2/select2.css" rel="stylesheet" type="text/css"/>
  <link href="/static/markdownEditor/css/bootstrap-markdown-editor.css" rel="stylesheet" type="text/css"/>
  <link href="/static/highlight/github.css" rel="stylesheet" type="text/css"/>
  <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
  <link href="/static/css/universal.css" rel="stylesheet" type="text/css"/>
  <link href="/static/css/animate.css" rel="stylesheet" type="text/css"/>
  <!--STYLES END-->
  <div th:replace="this :: header-scripts"></div>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button aria-expanded="false" class="glyphicon glyphicon-menu-hamburger menu-expand pull-left collapsed "
              data-target="#menu-lateral" data-toggle="collapse" style="margin-left:5px" type="button"></button>
      <a class="navbar-brand" href="/">Bookmarks</a>
      <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form class="navbar-form navbar-left" id="search-form" role="search">
            <div class="form-group">
              <input class="form-control" id="iptSearch" placeholder="search bookmarks..." type="text">
            </div>
            <button class="btn btn-info" type="button">Search</button>
          </form>
        </li>
      </ul>
    </div>
    <div class="col-xs-6 col-md-2 mg-menu">
      <div class="collapse" id="menu-lateral">
        <ul class="nav nav-sidebar ulLateralItems">
          <li class="mg-btn-settings"><a href="#"><span class="glyphicon glyphicon-cog"></span> settings</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<a class="btn btn-success btn-fab bookmarkNew" href="javascript:void(0)">
  <i class="glyphicon glyphicon-pencil"></i>
</a>
<!--SCRIPTS-->
<script th:with="debugging=${debug} ?: 'false'">
  var mg = {
    defaults: {}
  };
  mg.settings = [(${settingsJson})];
  mg.defaults.debug = [[${debugging}]];
</script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-notify.js"></script>
<script src="/static/select2/select2.full.js"></script>
<script src="/static/js/core.js"></script>
<script src="/static/js/mustache.min.js"></script>
<script src="/static/js/ace.js"></script>
<script src="/static/js/ext-searchbox.js"></script>
<script src="/static/js/mode-css.js"></script>
<script src="/static/markdownEditor/js/bootstrap-markdown-editor.js"></script>
<script src="/static/js/marked.min.js"></script>
<script src="/static/highlight/highlight.pack.js"></script>
<script src="/static/js/ct/main.js"></script>
<!--SCRIPTS END-->
<div class="container" id="container" style="margin-top: 80px">
  <div th:replace="this :: content"></div>
</div>
<div th:remove="tag" th:replace="this :: footer-scripts"></div>
<div class="popuparea modal fade" id="modal" role="dialog"></div>
<div class="modal-editor hidden"></div>
</body>
