body {
	font-size: 16px;
	font-weight: 300;
	min-height: 2000px;
	padding-top: 70px;
	font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif
}

#page-title:first-letter{
	text-transform: uppercase;
}

.btn-tag {
	background: #E1ECF4;
	color: #39739d;
	font-size: 9pt;
	padding: 4px 10px;
	border-radius: 0px
}

.more-results {
	margin: 10px 0px 30px 0;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

.row-result h4:first-letter {
	text-transform: uppercase;
}

#page-title {
	margin-bottom: 20px;
}

/* code block panel */

.mg-code ul li a {
	padding: 4px 15px;
	border-radius: 4px 0px 0px 0px;
	border-right: 1px solid #e4e4e4;
	background: #f5f5f5;
	margin-bottom: 1px;
}
.mg-code ul {
	background: #f5f5f5;
}

.mg-code pre {
	border-top: 1px solid #e4e4e4 !important;
	border-radius: 0px;
	border: 0px;
	margin: 0px;
	background: transparent;
}

.mg-code {
	border: 1px solid #ddd;
	margin: 0px 0px 10px;
	border-radius: 4px;
	background: #FFF;
}

.mg-code pre {
	max-height: 300px;
	overflow: auto;
}


img {
	max-width: 100%
}

