.white-popup{
	background: #FFF;
	margin: 20px auto;
	padding: 20px;
	position: relative;
	width: auto;
}
.popuparea .modal-dialog{
	margin-top: 0;
}
.select2-close-mask{
	z-index: 2099;
}
.select2-dropdown{
	z-index: 3051;
}
.navbar .mg-menu{
	background: white;
	border: 1px solid #EEE;
	left: 0;
	overflow: auto;
	position: absolute;
}
.navbar .menu-expand{
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	font-size: 20px;
	margin: 4px 5px 0px 0px;
	padding: 10px 10px;
}
.no-padding{
	padding: 0px;
}

.modal-header h1 {
	font-size: 26px;
}

.divItemBody img{
	width: 100%;
}
ul li img{
	width: 150px;
}
#txtDescription{
	outline: none;
}
.switch{
	display: inline-block;
	height: 34px;
	position: relative;
	width: 60px;
}
.switch input{
	display: none;
}
.slider{
	background-color: #ccc;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .4s;
	webkit-transition: .4s;
}
.slider:before{
	background-color: white;
	bottom: 4px;
	content: "";
	height: 26px;
	left: 4px;
	position: absolute;
	transition: .4s;
	webkit-transition: .4s;
	width: 26px;
}
input:checked + .slider{
	background-color: #2196F3;
}
input:focus + .slider{
	box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before{
	ms-transform: translateX(26px);
	transform: translateX(26px);
	webkit-transform: translateX(26px);
}
.slider.round{
	border-radius: 34px;
}
.slider.round:before{
	border-radius: 50%;
}

/* bookmark edit */
#frmBookmarkEdit .form-group {
	padding-right: 5px;
	padding-left: 5px;
}

.chckVisible {
	text-align: center;
}

#text-editor, #editor-mb {
	width: 100%;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	font-size: 13px;
	color: #505050;
	tab-size: 2;
	outline: none;
	line-height: 150%;
}

.mobile-full-screen-modal {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3000;
	background: #ffffff;
	width: 100%;
	padding: 10px 5px;
	height: 100%;
}
.editor-panel {
	height: 100%;
	display: flex;
}

.editor-panel .btn-editor-panel {
	min-height: 100%;
}
.editor-panel textarea {
	min-height: 100%;
	width: 100%;
}
.editor-preview {
	border: 1px solid #CECBCB;
	margin: 10px 0px;
	padding: 5px;
	max-height: 100%;
	overflow-y: auto;
}

.editor-common {
	margin-top: 5px;
}

pre {
	max-height: 150px;
	overflow-y: hidden;
	overflow-x: auto;
}

.with-scroll {
	overflow-y: auto;
}

.ace_searchbtn_close {
	margin-top: 0px!important;
}

/* code block panel */

.mg-code ul li a {
	padding: 4px 15px;
	border-radius: 4px 0px 0px 0px;
	border-right: 1px solid #e4e4e4;
	background: #f5f5f5;
	margin-bottom: 1px;
}
.mg-code ul {
	background: #f5f5f5;
}

.mg-code pre {
	border-top: 1px solid #e4e4e4 !important;
	border-radius: 0px;
	border: 0px;
	margin: 0px;
	background: transparent;
}

.mg-code {
	border: 1px solid #ddd;
	margin: 0px 0px 10px;
	border-radius: 4px;
	background: #FFF;
}


/**
 *
 */
.glyphicon-line-wrap {
	background-image: url("/img/line-wrap-24.png");
	background-position: center center;
	background-repeat: no-repeat;
	width: 42px;
	height: 34px;
}

.png-active {
	background-color: #e6e6e6
}



/**
 * New area
 */
.modal-editor {
	display: block;
	position: fixed;
	background: red;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 100%
}
