.glyphicon-line-wrap {
	background-image: url("/img/line-wrap-24.png");
	background-position: center center;
	background-repeat: no-repeat;
	width: 42px;
	height: 34px;
}

.png-active {
	background-color: #e6e6e6
}

/**
 * Text format
 */
li,p {
	text-align: justify;
}

.line-wrap-off {
	white-space: pre;
}

.line-wrap-on {
	white-space: normal;
}
