<!DOCTYPE html>
<html
  th:replace="layout/public-layout :: layout(headerTitle = ${title})" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
<head th:fragment="header-scripts">
  <link href="/static/highlight/github.css" rel="stylesheet" type="text/css"/>
  <style>
    .row-bordered:after {
      content: "";
      display: block;
      border-bottom: 1px solid #ccc;
      margin: 0 15px;
    }
  </style>
</head>
<div th:fragment="content">
  <div class="container public-content">
    <h1 class="row-bordered" id="page-title" th:text="${title}"></h1>
    <div class="pull-right" style="font-size: 10px;padding-right: 10px;">
      <strong>Published</strong>: [[${creationDate}]],
      <strong>Updated</strong>: [[${updateDate}]]
    </div>
    <br/>
    [(${content})]
    <br/>
    <a class="pull-left" th:href="${prev.link}" th:if="${prev}">
      <span class="glyphicon glyphicon-step-backward" style="font-size:20px"></span> [[${prev.name}]]
    </a>

    <a class="pull-right" th:href="${next.link}" th:if="${next}">
      [[${next.name}]]
      <span class="glyphicon glyphicon-step-forward" style="font-size:20px"></span>
    </a>
    <br/>
    <h3>Comments</h3>
    <div id="disqus_thread"></div>
  </div>
</div>
<div th:fragment="footer-scripts">
  <script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

    var disqus_config = function () {
      this.page.url = "http:[[${link}]]";  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = [[${id}]]; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function () { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//bookmarks-mageddo.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();

  </script>
  <noscript>Please enable JavaScript to view the comments powered by Disqus.</noscript>

</div>
</html>
