<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Logger</title>
  <meta content="The HTML5 Herald" name="description">
  <meta content="SitePoint" name="author">

  <link href="css/style.css" rel="stylesheet" type="text/css"/>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="https://rawgit.com/mageddo/startbootstrap-simple-sidebar/v1.0.4/css/simple-sidebar.css" rel="stylesheet"
        type="text/css"/>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-animate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-resource.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap.min.js"></script>
  <script src="js/code.js"></script>
</head>

<body ng-app="myapp" ng-controller="menuController">
<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          Logger
        </a>
      </li>
      <li ng-click="verLogs()" ng-repeat="data in datas">
        <a href="#">{{data}}</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <table class="col-lg-12 table">
          <tr>
            <th>Level</th>
            <th>message</th>
            <th>timestamp</th>
          </tr>
          <tr ng-repeat="item in log">
            <td class="{{item.level}}">{{item.level}}</td>
            <td>{{item.message}}</td>
            <td>{{item.timestamp}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>
</body>
</html>
