<div class="editor-panel" >
	<div class="btn-editor-panel" >
		<a class="btn-edit-mb  btn btn-default btn-edit-common glyphicon glyphicon-pencil active" href="#"></a>&nbsp;
		<a class="btn-visualize-mb  btn btn-default btn-visualize-common glyphicon glyphicon-eye-open" href="#"></a>&nbsp;
		<a class="btn-linewrap  btn btn-default btn-linewrap-common glyphicon glyphicon-line-wrap png-active" href="#"></a>&nbsp;
		<a class="btn-tab  btn btn-default glyphicon glyphicon-indent-left" href="#"></a>&nbsp;
		<a class="btn-fullscren-common  btn btn-default glyphicon glyphicon-fullscreen" href="#"></a>
		<!--<a class="btn-bk-save btn btn-success glyphicon glyphicon-floppy-save pull-right" href="#"></a>-->
		<textarea id="'+ editorId  +'" class="editor-common line-wrap-on"></textarea><div class="editor-preview"></div>
	</div>
</div>
