<link rel="stylesheet" href="/css/mobile/style.css" />
<form class="form" role="search" id="bookmarkForm" data-edit-mode="{{editMode}}" >

	<div class="fields">
		<input type="hidden" value="{{{ bookmark.id }}}" name="id" />
		<div class="form-group col-xs-12 col-md-12">
			<label for="iptName" >Name </label>
			<div style="display: flex;" class="link-container">
				<input id="iptName" type="text" class="form-control ipt-name" tabindex="1" value="{{{ bookmark.name }}}" name="name" placeholder="bookmark name">
				<a class="btn btn-default hidden btn-public-link glyphicon glyphicon-new-window" target="_blank" href="#"></a>
			</div>
		</div>
		<div class="form-group col-xs-12 col-sm-12 col-md-12">
			<label for="iptLink" >Link </label>
			<input id="iptLink" type="text" name="link" tabindex="1" value="{{{ bookmark.link}}}" class="form-control" placeholder="bookmark link">
		</div>
		<div class="form-group col-xs-9 col-sm-8 col-md-10">
			<label for="iptTag" >Tags </label><br />
			<select id="iptTag" class="js-data-example-ajax" name="tag[]" multiple="multiple" style="width:100%" >
				{{#tags}}
				<option value="{{name}}">{{name}}</option>
				{{/tags}}
			</select>
		</div>
		<div class="form-group col-xs-3 col-sm-4 col-md-2 chckVisible">
			<label for="visible" >Public</label><br />
			<label class="switch">
				<input id="visible" name="visible" type="checkbox" {{#getVisibilityFlag}}{{bookmark.visibility}}{{/getVisibilityFlag}}>
				<div class="slider round"></div>
			</label>
		</div>
	</div>

	<div class="editor-panel" >
		<div class="btn-editor-panel" >
			<a class="btn btn-close-modal btn-warning glyphicon glyphicon-arrow-left" href="#"></a>
			<a class="btn-edit  btn btn-default btn-edit-common glyphicon glyphicon-pencil active" href="#"></a>&nbsp;
			<a class="btn-visualize  btn btn-default btn-visualize-common glyphicon glyphicon-eye-open" href="#"></a>&nbsp;
			<a class="btn-linewrap  btn btn-default btn-linewrap-common glyphicon glyphicon-line-wrap png-active" href="#"></a>&nbsp;
			<a class="btn-tab  btn btn-default glyphicon glyphicon-indent-left" href="#"></a>&nbsp;
			<a class="btn-fullscreen btn btn-default glyphicon glyphicon-fullscreen" href="#"></a>
			<button type="submit" class="btn btn-success glyphicon glyphicon-floppy-save pull-right" ></button>
		</div>
		<textarea id="md-editor" class="editor-common line-wrap-on">{{ bookmark.html }}</textarea>
		<div class="editor-preview hidden"></div>
	</div>
</form>
<script>
var tagsToEdit = {{#stringify}}{{/stringify}};
</script>
<script src="/js/ct/bookmarkEditCommon.js"></script>
<script src="/js/ct/mobile/bookmarkEdit.js"></script>
<script type="text/template" id="tplCodeBlock-2">
	<div class="mg-code" lang="{{lang}}">
		<ul class="nav nav-pills painel-acoes">
			{{#overflown}}
			<li role="presentation" ><a href="#" class="toggle-scroll skipped glyphicon glyphicon-eye-open" title="Show code scroll"></a></li>
			{{/overflown}}
			<li role="presentation" class="pull-right" ><a href="#" class="skipped glyphicon glyphicon-option-vertical"></a></li>
		</ul>
		<pre><code>{{#plain}}{{code}}{{/plain}}{{^plain}}{{{code}}}{{/plain}}</code></pre>
	</div>
</script>
</html>
