<link href="/highlight/github.css" rel="stylesheet"/>
<style>
	.row-bordered:after {
		content: "";
		display: block;
		border-bottom: 1px solid #ccc;
		margin: 0 15px;
	}

</style>
<div class="container public-content">
	<h1 class="row-bordered">{{title}}</h1><br/>
	{{{content}}}

	<br/>
	{{#prev.name}}
	<a class="pull-left" href="{{#getURL}}/bookmark/{{prev.id}}/{{prev.name}}{{/getURL}}">
		<span style="font-size:20px" class="glyphicon glyphicon-step-backward"></span> {{prev.name}}
	</a>
	{{/prev.name}}

	{{#next.name}}
	<a class="pull-right" href="{{#getURL}}/bookmark/{{next.id}}/{{next.name}}{{/getURL}}">
		{{next.name}}
		<span style="font-size:20px" class="glyphicon glyphicon-step-forward"></span>
	</a>
	{{/next.name}}
	<br/>
	<h3>Comments</h3>
	<div id="disqus_thread"></div>
</div>
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
	this.page.url = document.location.pathname;  // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = {{id}}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//bookmarks-mageddo.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();

</script>
<noscript>Please enable JavaScript to view the comments powered by Disqus.</noscript>
