<div class="container" style="min-height:500px">
	{{#bookmarks}}
	<div>
		<h4><a href="/bookmark/{{id}}/{{name}}">
			{{#name}}
				{{name}}
			{{/name}}
			{{^name}}
				ID: {{id}} - Unknow name
			{{/name}}
		</a></h4>
		{{#toTagArray}}{{/toTagArray}}
		{{#tags}}
			<a href="#" class="btn btn-tag">{{.}}</a>
		{{/tags}}
		<hr>
	</div>
	{{/bookmarks}}

	{{#msg}}
		{{msg}}
	{{/msg}}

	{{#hasMore}}
	<div class="row more-results">
		<a class="btn btn-info col-md-2 col-md-offset-5" href="?page={{nextPage}}" >More results...</a>
	</div>
	{{/hasMore}}


</div>