<!DOCTYPE html>
<html>
<head>
	<title>{{ appName }}</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!--STYLES-->
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/index.css" rel="stylesheet"/>
	<!--STYLES END-->

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top ">
	<div class="container">
		<div class="nav">
			<a href="/" class="navbar-brand">{{ appName }}</a>
			<a href="/_/bookmarks" type="button" class="navbar-btn btn btn-info pull-right">login</a>
		</div>
	</div>
</nav>
<div class="container" style="min-height:500px">
	{{#bookmarks}}
	<div>
		<h4><a href="/bookmark/{{id}}/{{name}}">
			{{#name}}
				{{name}}
			{{/name}}
			{{^name}}
				ID: {{id}} - Unknow name
			{{/name}}
		</a></h4>
		{{#toTagArray}}{{/toTagArray}}
		{{#tags}}
			<a href="#" class="btn btn-tag">{{.}}</a>
		{{/tags}}
		<hr>
	</div>
	{{/bookmarks}}

	{{#msg}}
		{{msg}}
	{{/msg}}

	{{#hasMore}}
	<br/>
	<div class="row">
		<a class="col-md-2 col-md-offset-5" href="?page={{nextPage}}" >More results...</a>
	</div>
	{{/hasMore}}


</div>
<!-- Footer -->
<footer>
	<div class="container" style="text-align:center">
		<p class="copyright text-muted">Copyright &copy; Bookmarks Mageddo 2015-2017</p>
	</div>
</footer>
</body>
</html>