<div class="container public-content" style="min-height:500px">

	{{#pageTitle}}
	<h1 id="page-title">{{pageTitle}}</h1>
	{{/pageTitle}}

	{{#bookmarks}}
	<div class="row-result">
		<h4><a href="{{#getURL}}/bookmark/{{id}}/{{name}}{{/getURL}}">
			{{#name}}
				{{name}}
			{{/name}}
			{{^name}}
				ID: {{id}} - Unknow name
			{{/name}}
		</a></h4>
		{{#toTagArray}}{{/toTagArray}}
		{{#tags}}
			<a href="#" class="btn btn-tag">{{.}}</a>
		{{/tags}}
		<hr>
	</div>
	{{/bookmarks}}

	<!-- possible error -->
	{{#msg}}
		{{msg}}
	{{/msg}}

	{{#hasMore}}
	<div class="row more-results">
		<div class="col-lg-5 col-centered">
			<a class="btn btn-info center-block" style="width:100%" href="{{#getURL}}{{/getURL}}?page={{nextPage}}" >More results ...</a>
		</div>
	</div>
	{{/hasMore}}


</div>
